$midnight_green_color:#1A535C;
$medium_turquoise_color:#4ECDC4;
$mint_cream_color:#F7FFF7;
$bittersweet_color:#FF6B6B;
$pacman_color:#FFE66D;


$link-text-color: #fff;
$button-bg: #541388;
$overlay-color: #fff;